@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --black: #000000;
  --white: #ffffff;
  --blue: #00aeef;

  --font-heading: "League Spartan", sans-serif;
  --font-body: "Montserrat", sans-serif;
  --font-other: "DM Sans", sans-serif;
  --font-decorative: "Square Peg", "cursive";
}

:root {
  --black: #000000;
  --white: #ffffff;
  --blue: #00aeef;

  --font-heading: "League Spartan", sans-serif;
  --font-body: "Montserrat", sans-serif;
  --font-other: "DM Sans", sans-serif;
  --font-decorative: "Square Peg", "cursive";
}

body {
  font-family: var(--font-body);
  color: #000000;
  margin: 0;
  padding: 0;
}
